.button {
  width: 100%;
  height: 100%;
  font-size: 5vmin;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: orange;
}

.success {
  background-color: green;
}

.danger {
  background-color: red;
}
